<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>manual login with username and password</h1>
    <form method="POST">
        Email:<input type="text" name="email" /><br/>
        Password:<input type="password" name="password" /><br/>
        <input type="submit" value="Submit"/>
    </form>

    <h1>google login</h1>
    <a href="/google-login">Click for google login</a>
</body>
</html>
<script>

</script>